@charset "UTF-8";@font-face {
  font-family: "Steelfish";
  src: url('../fonts/steelfish/steelfish_eb-webfont.eot');
  src: url('../fonts/steelfish/steelfish_eb-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/steelfish/steelfish_eb-webfont.woff') format('woff'), url('../fonts/steelfish/steelfish eb.otf') format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: "Steelfish";
  src: url('../fonts/steelfish/steelfish_bd-webfont.eot');
  src: url('../fonts/steelfish/steelfish_bd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/steelfish/steelfish_bd-webfont.woff') format('woff'), url('../fonts/steelfish/steelfish bd.otf') format('opentype');
  font-weight: bold;
}
/*!
 * jQuery UI CSS Framework 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */


/* CUSTOM AND FIXES */

.header-icon {
    width: 120px;
    padding-left: 5px;
}

/* Layout helpers
----------------------------------*/

.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter:Alpha(Opacity=0);
}

.ui-front {
  z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*!
 * jQuery UI Accordion 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: .5em .5em .5em .7em;
  min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
  padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}
/*!
 * jQuery UI Tabs 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */

.ui-tabs {
  position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  padding: .2em;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
  cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
  cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}
/*!
 * jQuery UI CSS Framework 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/
 */


/* Component containers
----------------------------------*/

.ui-widget {
  font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
  font-size: 1.1em/*{fsDefault}*/;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
  font-size: 1em;
}
.ui-widget-content {
  border: 1px solid #aaaaaa/*{borderColorContent}*/;
  background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
  color: #222222/*{fcContent}*/;
}
.ui-widget-content a {
  color: #222222/*{fcContent}*/;
}
.ui-widget-header {
  border: 1px solid #aaaaaa/*{borderColorHeader}*/;
  background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/;
  color: #222222/*{fcHeader}*/;
  font-weight: bold;
}
.ui-widget-header a {
  color: #222222/*{fcHeader}*/;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3/*{borderColorDefault}*/;
  background: #e6e6e6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
  font-weight: normal/*{fwDefault}*/;
  color: #555555/*{fcDefault}*/;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555/*{fcDefault}*/;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #999999/*{borderColorHover}*/;
  background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
  font-weight: normal/*{fwDefault}*/;
  color: #212121/*{fcHover}*/;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  color: #212121/*{fcHover}*/;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa/*{borderColorActive}*/;
  background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/;
  font-weight: normal/*{fwDefault}*/;
  color: #212121/*{fcActive}*/;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #212121/*{fcActive}*/;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1/*{borderColorHighlight}*/;
  background: #fbf9ee/*{bgColorHighlight}*/ url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/;
  color: #363636/*{fcHighlight}*/;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636/*{fcHighlight}*/;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a/*{borderColorError}*/;
  background: #fef1ec/*{bgColorError}*/ url(images/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/;
  color: #cd0a0a/*{fcError}*/;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #cd0a0a/*{fcError}*/;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #cd0a0a/*{fcError}*/;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter:Alpha(Opacity=70);
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter:Alpha(Opacity=35);
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/;
}
.ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png)/*{iconsHeader}*/;
}
.ui-state-default .ui-icon {
  background-image: url(images/ui-icons_888888_256x240.png)/*{iconsDefault}*/;
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_454545_256x240.png)/*{iconsHover}*/;
}
.ui-state-active .ui-icon {
  background-image: url(images/ui-icons_454545_256x240.png)/*{iconsActive}*/;
}
.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons_2e83ff_256x240.png)/*{iconsHighlight}*/;
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons_cd0a0a_256x240.png)/*{iconsError}*/;
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 4px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 4px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 4px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 4px/*{cornerRadius}*/;
}

/* Overlays */
.ui-widget-overlay {
  background: #aaaaaa/*{bgColorOverlay}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/;
  opacity: .3/*{opacityOverlay}*/;
  filter: Alpha(Opacity=30)/*{opacityFilterOverlay}*/;
}
.ui-widget-shadow {
  margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/;
  padding: 8px/*{thicknessShadow}*/;
  background: #aaaaaa/*{bgColorShadow}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlShadow}*/ 50%/*{bgShadowXPos}*/ 50%/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/;
  opacity: .3/*{opacityShadow}*/;
  filter: Alpha(Opacity=30)/*{opacityFilterShadow}*/;
  border-radius: 8px/*{cornerRadiusShadow}*/;
}
.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .bypostauthor, .alignright, .alignleft, .aligncenter {
  visibility: visible;
}
/*some basic settings */
a {
  color: #EF5350;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
a:hover {
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.centered-text {
  text-align: center;
}

hr {
  border-color: #eee;
}

.right-border {
  border-right: 1px solid #cfcfcf;
}

.left-border {
  border-left: 1px solid #cfcfcf;
}

.spacing {
  height: 20px;
}
.spacing.two {
  height: 40px;
}
.spacing.three {
  height: 60px;
}
.spacing.four {
  height: 80px;
}

.full {
  padding: 80px 0 0;
  background-size: cover;
  background-position: 50% 50%;
}
.full.no-padding {
  padding: 0;
}

.parallax {
  background-attachment: fixed;
}

ul.shortcode-list {
  list-style: none;
  margin: 0 0 20px;
}
ul.shortcode-list i {
  color: #EF5350;
  margin-right: 3px;
}

#main.top-shift {
  margin-top: -100px;
}

/*Big social for demo 2 */
.big-social {
  text-align: center;
}
.big-social i {
  box-sizing: content-box;
  margin-bottom: 30px;
  font-size: 2.57143rem;
  width: 2.57143rem;
  height: 2.57143rem;
  color: #fff;
  display: inline-block;
  padding: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f9ce06;
  border: 3px solid #EF5350;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.big-social i:before {
  margin: 0;
}
.big-social i:hover {
  border: 3px solid #EF5350;
  background-color: rgba(249, 206, 6, 0);
}

/*smart appear */
.fadein {
  opacity: 0;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}

.fadein.appear {
  opacity: 1;
}

.fadeinleft {
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
  opacity: 0.3;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}

.fadeinright {
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0.3;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}

.fadeinleft.appear, .fadeinright.appear {
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

.popin {
  opacity: 0;
  -moz-transform: scale(0.001);
  -ms-transform: scale(0.001);
  -webkit-transform: scale(0.001);
  transform: scale(0.001);
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.popin.appear {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*Button styles */
.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background: #EF5350;
  border: 2px solid #EF5350;
}

.button:hover {
  background-color: rgba(249, 206, 6, 0.8);
}

.button.boxed {
  color: #fff;
  border: 2px solid #fff;
  background: none;
}

.button.boxed:hover {
  color: #333;
  background: #fff;
}

/*Top bar */
.top-bar {
  z-index: 100;
}
.top-bar .title-area .name h1 a {
  font-size: 2.57143rem;
  color: #333;
}

.contain-to-grid {
  -moz-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.contain-to-grid .top-bar-section .dropdown li:not(.has-form) a:not(.button) {
  height: 60px;
  line-height: 60px;
}
.contain-to-grid .top-bar-section ul li {
  background: transparent;
}

.contain-to-grid.shadowless {
  height: auto;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #eee;
}
.contain-to-grid.shadowless .top-bar {
  background: none;
}

.contain-to-grid {
  height: 100px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.contain-to-grid .top-bar {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.contain-to-grid .top-bar .top-bar-section li:not(.has-form) a:not(.button) {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.contain-to-grid .top-bar-section li:not(.has-form) a:not(.button) {
  height: 100px;
}
.contain-to-grid .top-bar-section .has-dropdown > a:after {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  top: 3.57143rem;
}
.contain-to-grid .title-area, .contain-to-grid .title-area li, .contain-to-grid .title-area a {
  height: 100px;
  line-height: 100px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.contain-to-grid .title-area a {
  width: 100%;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.f-topbar-fixed.shrink .contain-to-grid {
    height: 60px;

    .header-icon {
        width: 100px;
    }
}
.f-topbar-fixed.shrink .top-bar {
  height: 60px;
  line-height: 60px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.f-topbar-fixed.shrink .top-bar .top-bar-section li:not(.has-form) a:not(.button) {
  height: 60px;
  line-height: 60px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.f-topbar-fixed.shrink .top-bar .top-bar-section .has-dropdown > a:after {
  top: 2.14286rem;
}
.f-topbar-fixed.shrink .top-bar .top-bar-section .dropdown li:not(.has-form) a:not(.button) {
  height: 60px;
  line-height: 60px;
}
.f-topbar-fixed.shrink .top-bar .title-area, .f-topbar-fixed.shrink .top-bar .title-area li, .f-topbar-fixed.shrink .top-bar .title-area a {
  height: 60px;
  line-height: 60px;
}
.f-topbar-fixed.shrink .top-bar .title-area img, .f-topbar-fixed.shrink .top-bar .title-area li img, .f-topbar-fixed.shrink .top-bar .title-area a img {
  width: 70px;
}

.contain-to-grid.fullwidth .top-bar {
  max-width: 100%;
}

.contain-to-grid.alt .top-bar-section ul li > a {
  color: #333;
  font-weight: bold;
}
.contain-to-grid.alt .top-bar-section .has-dropdown > a:after {
  border-top-color: #333;
}
.contain-to-grid.alt .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background: #444;
}
.contain-to-grid.alt .top-bar-section .dropdown li:not(.has-form) a:not(.button):hover {
  background: #555;
}

.contain-to-grid.transparent {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.contain-to-grid.transparent .top-bar {
  background: transparent;
}
.contain-to-grid.transparent .top-bar-section ul li {
  background: transparent;
}
.contain-to-grid.transparent .top-bar-section li:not(.has-form) a:not(.button) {
  color: #333;
  background: transparent;
}
.contain-to-grid.transparent .top-bar-section ul li.has-dropdown .dropdown li a {
  color: #fff;
}
.contain-to-grid.transparent .top-bar-section .has-dropdown > a:after {
  border-top-color: #333;
}
.contain-to-grid.transparent .top-bar-section ul li.has-dropdown .dropdown li {
  background-color: rgba(0, 0, 0, 0.8);
}
.contain-to-grid.transparent .top-bar-section .dropdown li:not(.has-form) a:not(.button):hover {
  background: #000;
}

.contain-to-grid.transparent.white .top-bar-section li:not(.has-form) a:not(.button) {
  color: #fff;
}
.contain-to-grid.transparent.white .top-bar-section .has-dropdown > a:after {
  border-top-color: #fff;
}

.f-topbar-fixed.shrink .contain-to-grid.transparent {
  background-color: rgba(255, 255, 255, 0.9);
}
.f-topbar-fixed.shrink .contain-to-grid.transparent.white {
  background-color: rgba(0, 0, 0, 0.8);
}

/* portfolio item meta */
ul.info {
  margin: 0;
  list-style: none;
}
ul.info a {
  margin-right: 5px;
}
ul.info i {
  border: 1px solid #EF5350;
  padding: 5px;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
ul.info i:hover {
  background: #EF5350;
  color: #fff;
}

/*Contact page */
.contact-details h4 {
  margin-bottom: 5px;
}

form#contact_form {
  width: 97%;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  padding: 15px;
  height: 3rem;
  margin-bottom: 1.875rem;
}

textarea {
  height: 9rem;
}

form label.error {
  display: none !important;
}
form input.error, form textarea.error {
  border: 1px solid #f00;
  margin-bottom: 30px;
}

/*Pager */
.pager {
  width: 97%;
  overflow: auto;
  padding: 0 10px;
}
.pager a {
  color: #999;
}
.pager a:hover {
  color: #EF5350;
}
.pager .older {
  float: left;
}
.pager .newer {
  float: right;
}

/*Blog comments */
.comments-wrapper {
  width: 97%;
}
.comments-wrapper ul.comments {
  margin: 0;
}
.comments-wrapper ul.comments li {
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 0 0;
  list-style: none;
}
.comments-wrapper ul.comments ul.children li {
  border-bottom: none;
  border-top: 1px solid #e9e9e9;
}
.comments-wrapper ul.comments .meta .avatar {
  float: left;
  padding: 5px 10px 0 0;
}
.comments-wrapper ul.comments .meta .name {
  display: block;
}
.comments-wrapper ul.comments .meta .datetime {
  font-size: 0.875rem;
  color: #999;
}

#comments-form {
  width: 97%;
}

/*Sidebar */
.links {
  margin-bottom: 40px;
}
.links ul {
  margin: 0;
}
.links li {
  list-style: none;
  line-height: 1.8em;
}
.links a {
  color: #999;
}
.links a:hover {
  color: #333;
}

/*Footer */
#footer {
  background: #222;
  color: #999;
}
#footer h1 {
  margin-bottom: 25px;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
  color: #eee;
}
#footer ul {
  margin: 0;
}
#footer ul li {
  list-style: none;
  line-height: 1.875rem;
}
#footer ul a {
  color: #999;
}
#footer ul a:hover {
  color: #eee;
}
#footer ul.socials li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}
#footer ul.socials i {
  width: 40px;
  height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #eee;
  color: #333;
  text-align: center;
  font-size: 1.25rem;
  line-height: 3rem;
}
#footer ul.socials a:hover i {
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #EF5350;
}
#footer input.email-address {
  padding: 5px 15px;
  height: 3.3rem;
  background: #eee;
}

#footer.fullwidth p.copyright {
  padding-left: 30px;
  float: left;
  font-size: 1.28571rem;
}
#footer.fullwidth ul.socials {
  text-align: right;
  padding-right: 20px;
}
#footer.fullwidth ul.socials li {
  margin-right: 10px;
}
.modBarGraph .bars {
  margin: 0;
  list-style: none;
}
.modBarGraph .bars h4 {
  font-style: italic;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: #999;
}
.modBarGraph .bars p.highlighted {
  width: 0;
  background: #EF5350;
  height: 12px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "DroidSans";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "DroidSans";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.modBlogPost {
  margin-bottom: 40px;
  background: #fff;
}
.modBlogPost .content {
  padding: 30px 20px;
}
.modBlogPost h4 a {
  color: #333;
}
.modBlogPost h4 a:hover {
  color: #f9ce06;
}
.modBlogPost .date {
  font-size: 0.78571rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ccc;
  margin-bottom: 5px;
}
.modBlogPost .tags {
  padding: 5px 0;
}
.modBlogPost .tags a {
  font-style: italic;
}
.modBlogPost img {
  width: 100%;
}
.modBlogPost a:hover img {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 0.5;
}
.modBlogPost .slick-slider {
  margin-bottom: 0;
}
.modBlogPost .images .slick-dots {
  margin: 0;
}
.modBlogPost .images .slick-dots li button:before {
  font-size: 30px;
  top: -65px;
}

.modBlogPost.big {
  width: 97%;
}
.modBlogPost.big .content {
  padding: 50px 40px;
}
.modBlogPost.big .info {
  font-size: 0.78571rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ccc;
}
.modBlogPost.big h3 {
  font-size: 2.5rem;
}
.modBlogPost.big h3 a {
  color: #333;
}
.modBlogPost.big h3 a:hover {
  color: #f9ce06;
}
.modBlogPost.big h4 {
  font-size: 1.7rem;
}
.modBlogPost.big h5 {
  font-size: 1.15rem;
}
.modBlogPost.big a:hover img {
  opacity: 1;
}
.modBlogPost.big blockquote {
  color: #ccc;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 1.7rem;
  padding: 0 20px;
}

.modBlogPost.masonry {
  width: 343px;
  height: auto;
  overflow: hidden;
}

.modBlogPost.no_bg {
  background: none;
}
.modBlogPost.no_bg .content {
  padding: 30px 0 10px;
  background: none;
}

.modBlogPost.no_bg.no-media .content {
  padding: 0 0 10px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "DroidSans";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "DroidSans";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.modBoxedSlider .slick-dots li button:before {
  font-size: 30px;
  top: -40px;
}
.modBoxedSlider .slide {
  position: relative;
}
.modBoxedSlider .caption {
  position: absolute;
  bottom: 30px;
  left: 40px;
}
.modBoxedSlider .caption p {
  display: inline-block;
  background: #EF5350;
  color: #fff;
  font-family: "droid serif";
  margin-bottom: 0;
  padding: 10px 20px;
  font-style: italic;
  font-size: 1.2rem;
}
.modBoxedSlider .caption h2 {
  font-size: 2.6rem;
  letter-spacing: 3px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  color: #fff;
}
.modBoxedTextSlider .box {
  padding: 50px 40px 50px;
  margin: 0 20px;
  background: #fff;
  text-align: center;
}
.modBoxedTextSlider .box h3 {
  margin-bottom: 40px;
}
.modBoxedTextSlider .box i {
  color: #EF5350;
  font-size: 36px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 30px;
}
.modCallToAction p {
  font-size: 1.28571rem;
  letter-spacing: 1px;
  font-style: italic;
  padding-top: 10px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "DroidSans";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "DroidSans";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.modClients .slick-slider {
  margin-bottom: 10px;
}
.modDefaultSlider .sequence {
  height: 650px;
  position: relative;
  width: 100%;
  color: #fff;
}
.modDefaultSlider .sequence p {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 200;
  color: #eee;
}
.modDefaultSlider .sequence .buttons-wrapper .button {
  margin-right: 10px;
}
.modDefaultSlider .sequence ul {
  list-style: none;
  margin-left: 0;
}
.modDefaultSlider .sequence .sequence-canvas {
  height: 100%;
  width: 100%;
}
.modDefaultSlider .sequence .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
}
.modDefaultSlider .sequence .left-text-right-image .right-half {
  position: absolute;
}
.modDefaultSlider .sequence .left-image-right-text .row {
  position: relative;
}
.modDefaultSlider .sequence .left-image-right-text .right-half {
  position: relative;
}
.modDefaultSlider .sequence .left-image-right-text .left-half {
  position: absolute;
}
.modDefaultSlider .sequence .info, .modDefaultSlider .sequence .title, .modDefaultSlider .sequence .small-title, .modDefaultSlider .sequence .buttons-wrapper, .modDefaultSlider .sequence .info1, .modDefaultSlider .sequence .info2, .modDefaultSlider .sequence .info3, .modDefaultSlider .sequence .info4 {
  position: relative;
  width: 100%;
  top: 150px;
}
.modDefaultSlider .sequence .buttons-wrapper {
  z-index: 9999;
}
.modDefaultSlider .sequence .info.left-to-right, .modDefaultSlider .sequence .info1.left-to-right, .modDefaultSlider .sequence .info2.left-to-right, .modDefaultSlider .sequence .info3.left-to-right, .modDefaultSlider .sequence .info4.left-to-right, .modDefaultSlider .sequence .buttons-wrapper.left-to-right, .modDefaultSlider .sequence .title.left-to-right, .modDefaultSlider .sequence .small-title.left-to-right {
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  left: -100%;
  top: 150px;
}
.modDefaultSlider .sequence .info.right-to-left, .modDefaultSlider .sequence .info1.right-to-left, .modDefaultSlider .sequence .info2.right-to-left, .modDefaultSlider .sequence .info3.right-to-left, .modDefaultSlider .sequence .info4.right-to-left, .modDefaultSlider .sequence .buttons-wrapper.right-to-left, .modDefaultSlider .sequence .title.right-to-left, .modDefaultSlider .sequence .small-title.right-to-left {
  -moz-transition-property: right;
  -o-transition-property: right;
  -webkit-transition-property: right;
  transition-property: right;
  right: -100%;
  top: 150px;
}
.modDefaultSlider .sequence .info.bottom-to-top, .modDefaultSlider .sequence .info1.bottom-to-top, .modDefaultSlider .sequence .info2.bottom-to-top, .modDefaultSlider .sequence .info3.bottom-to-top, .modDefaultSlider .sequence .info4.bottom-to-top, .modDefaultSlider .sequence .buttons-wrapper.bottom-to-top, .modDefaultSlider .sequence .title.bottom-to-top, .modDefaultSlider .sequence .small-title.bottom-to-top {
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  left: 0;
  top: 200px;
  opacity: 0;
}
.modDefaultSlider .sequence .bg {
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  left: 100%;
  z-index: -1;
  background-position: absolute;
  position: absolute;
  top: 0;
}
.modDefaultSlider .sequence .frame.static .bg {
  left: 0;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modDefaultSlider .sequence .no-animation {
  opacity: 0;
}
.modDefaultSlider .sequence .animate-in .no-animation {
  opacity: 1;
}
.modDefaultSlider .sequence .animate-in .info.left-to-right {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  left: 0;
  opacity: 1;
}
.modDefaultSlider .sequence .animate-in .info1.left-to-right {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  left: 0;
  opacity: 1;
}
.modDefaultSlider .sequence .animate-in .info2.left-to-right {
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  left: 0;
  opacity: 1;
}

.modDefaultSlider .sequence .animate-in .info3.left-to-right {
  -moz-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  left: 0;
  opacity: 1;
}
.modDefaultSlider .sequence .animate-in .info4.left-to-right {
  -moz-transition-delay: 1.9s;
  -o-transition-delay: 1.9s;
  -webkit-transition-delay: 1.9s;
  transition-delay: 1.9s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  left: 0;
  opacity: 1;
}
.modDefaultSlider .sequence .animate-in .buttons-wrapper.left-to-right {
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  left: 0;
  opacity: 1;
}
.modDefaultSlider .sequence .animate-in .buttons-wrapper.slow.left-to-right {
  -moz-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}
.modDefaultSlider .sequence .animate-in .title.left-to-right {
  top: 150px;
  left: 0;
  opacity: 1;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.modDefaultSlider .sequence .animate-in .small-title.left-to-right {
  top: 150px;
  left: 0;
  opacity: 1;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.modDefaultSlider .sequence .animate-in .title.bottom-to-top {
  top: 90px;
  opacity: 1;
  left: 0;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.modDefaultSlider .sequence .animate-in .small-title.bottom-to-top {
  top: 150px;
  opacity: 1;
  left: 0;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.modDefaultSlider .sequence .animate-in .info.bottom-to-top {
  top: 150px;
  opacity: 1;
  left: 0;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.modDefaultSlider .sequence .animate-in .info1.bottom-to-top {
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  top: 150px;
  opacity: 1;
  left: 0;
}
.modDefaultSlider .sequence .animate-in .info2.bottom-to-top {
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
  top: 150px;
  opacity: 1;
  left: 0;
}
.modDefaultSlider .sequence .animate-in .info3.bottom-to-top {
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
  top: 150px;
  opacity: 1;
  left: 0;
}
.modDefaultSlider .sequence .animate-in .info4.bottom-to-top {
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1.9s;
  -o-transition-delay: 1.9s;
  -webkit-transition-delay: 1.9s;
  transition-delay: 1.9s;
  top: 150px;
  opacity: 1;
  left: 0;
}
.modDefaultSlider .sequence .animate-in .buttons-wrapper.bottom-to-top {
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
  top: 150px;
  opacity: 1;
  left: 0;
}
.modDefaultSlider .sequence .animate-in .buttons-wrapper.slow.bottom-to-top {
  -moz-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}
.modDefaultSlider .sequence .animate-in .info.right-to-left {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  opacity: 1;
  right: 0;
}
.modDefaultSlider .sequence .animate-in .info1.right-to-left {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 1;
  right: 0;
}
.modDefaultSlider .sequence .animate-in .info2.right-to-left {
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 1;
  right: 0;
}
.modDefaultSlider .sequence .animate-in .info3.right-to-left {
  -moz-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 1;
  right: 0;
}
.modDefaultSlider .sequence .animate-in .info4.right-to-left {
  -moz-transition-delay: 1.9s;
  -o-transition-delay: 1.9s;
  -webkit-transition-delay: 1.9s;
  transition-delay: 1.9s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 1;
  right: 0;
}
.modDefaultSlider .sequence .animate-in .buttons-wrapper.right-to-left {
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 1;
  right: 0;
}
.modDefaultSlider .sequence .animate-in .buttons-wrapper.slow.right-to-left {
  -moz-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}
.modDefaultSlider .sequence .animate-in .title.right-to-left {
  top: 150px;
  right: 0;
  opacity: 1;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.modDefaultSlider .sequence .animate-in .small-title.right-to-left {
  top: 150px;
  right: 0;
  opacity: 1;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.modDefaultSlider .sequence .animate-in .bg {
  left: 0;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modDefaultSlider .sequence .frame.animate-in.static .info.left-to-right {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.modDefaultSlider .sequence .frame.animate-in.static .small-title.left-to-right, .modDefaultSlider .sequence .frame.animate-in.static .small-title.right-to-left, .modDefaultSlider .sequence .frame.animate-in.static .small-title.bottom-to-top {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.modDefaultSlider .sequence .frame.animate-in.static .title.left-to-right, .modDefaultSlider .sequence .frame.animate-in.static .title.right-to-left, .modDefaultSlider .sequence .frame.animate-in.static .title.bottom-to-top {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.modDefaultSlider .sequence .animate-out .info.left-to-right, .modDefaultSlider .sequence .animate-out .info1.left-to-right, .modDefaultSlider .sequence .animate-out .info2.left-to-right, .modDefaultSlider .sequence .animate-out .info3.left-to-right, .modDefaultSlider .sequence .animate-out .info4.left-to-right, .modDefaultSlider .sequence .animate-out .buttons-wrapper.left-to-right, .modDefaultSlider .sequence .animate-out .title.left-to-right, .modDefaultSlider .sequence .animate-out .small-title.left-to-right {
  opacity: 0;
  left: 100%;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modDefaultSlider .sequence .animate-out .info.right-to-left, .modDefaultSlider .sequence .animate-out .info1.right-to-left, .modDefaultSlider .sequence .animate-out .info2.right-to-left, .modDefaultSlider .sequence .animate-out .info3.right-to-left, .modDefaultSlider .sequence .animate-out .info4.right-to-left, .modDefaultSlider .sequence .animate-out .buttons-wrapper.right-to-left, .modDefaultSlider .sequence .animate-out .title.right-to-left, .modDefaultSlider .sequence .animate-out .small-title.right-to-left {
  opacity: 0;
  right: 100%;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modDefaultSlider .sequence .animate-out .info.bottom-to-top, .modDefaultSlider .sequence .animate-out .info1.bottom-to-top, .modDefaultSlider .sequence .animate-out .info2.bottom-to-top, .modDefaultSlider .sequence .animate-out .info3.bottom-to-top, .modDefaultSlider .sequence .animate-out .info4.bottom-to-top, .modDefaultSlider .sequence .animate-out .buttons-wrapper.bottom-to-top, .modDefaultSlider .sequence .animate-out .title.bottom-to-top, .modDefaultSlider .sequence .animate-out .small-title.bottom-to-top {
  opacity: 0;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modDefaultSlider .sequence .animate-out .bg {
  left: -100%;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modDefaultSlider .sequence .title h2 {
  font-size: 5.14286rem;
  line-height: 5.14286rem;
  display: inline-block;
  color: #3f3e3e;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 40px;
}
.modDefaultSlider .sequence .small-title h2 {
  font-size: 1.28571rem;
  font-weight: normal;
  color: #B71C1C;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.modDefaultSlider .sequence .right {
  text-align: right;
}
.modDefaultSlider .sequence .centered {
  text-align: center;
}
.modDefaultSlider .sequence .sequence-prev, .modDefaultSlider .sequence .sequence-next {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 18px;
  color: #fff;
  position: absolute;
  z-index: 98;
  top: 45%;
}
.modDefaultSlider .sequence .sequence-prev span, .modDefaultSlider .sequence .sequence-next span {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -10px;
  border: 10px inset;
  border-color: transparent;
}
.modDefaultSlider .sequence .sequence-prev {
  left: 0;
}
.modDefaultSlider .sequence .sequence-prev span {
  border-right-style: solid;
  left: 0;
  border-right-color: rgba(255, 255, 255, 0.7);
}
.modDefaultSlider .sequence .sequence-next {
  right: 0;
}
.modDefaultSlider .sequence .sequence-next span {
  border-left-style: solid;
  left: 50%;
  margin-left: -4px;
  border-left-color: rgba(255, 255, 255, 0.7);
}
.modDefaultSlider .sequence .sequence-pagination {
  position: absolute;
  bottom: 20px;
  text-align: center;
  z-index: 100;
  width: 20%;
  left: 40%;
  margin: 0;
}
.modDefaultSlider .sequence .sequence-pagination li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.modDefaultSlider .sequence .sequence-pagination li.current {
  background-color: rgba(255, 255, 255, 0.4);
}

.modDefaultSlider.advanced .sequence .title h2 {
  letter-spacing: 4px;
  font-size: 4.28571rem;
}
.modFullscreenSlider .fullscreen_slideshow {
  height: 700px;
  position: relative;
  width: 100%;
  color: white;
  width: auto;
  display: block;
  position: relative;
}
.modFullscreenSlider .fullscreen_slideshow .sequence-canvas {
  z-index: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  position: relative;
}
.modFullscreenSlider .fullscreen_slideshow .sequence-canvas > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  background-size: contain;
  background-position: 50% 50%;
  overflow: hidden;
}
.modFullscreenSlider .fullscreen_slideshow .bg, .modFullscreenSlider .fullscreen_slideshow .video_image_touch {
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 50% 50%;
  left: 100%;
  z-index: -1;
  background-position: absolute;
  position: absolute;
  top: 0;
}
.modFullscreenSlider .fullscreen_slideshow .video_image_touch {
  display: none;
}
.modFullscreenSlider .fullscreen_slideshow .video_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 100%;
  overflow: hidden;
  top: 0;
}
.modFullscreenSlider .fullscreen_slideshow .video_wrap video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.modFullscreenSlider .fullscreen_slideshow .overlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 0;
  top: 0;
}
.modFullscreenSlider .fullscreen_slideshow .animate-out .bg, .modFullscreenSlider .fullscreen_slideshow .animate-out .video_wrap, .modFullscreenSlider .fullscreen_slideshow .animate-out .video_image_touch {
  left: -100%;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modFullscreenSlider .fullscreen_slideshow .animate-in .bg, .modFullscreenSlider .fullscreen_slideshow .animate-in .video_wrap, .modFullscreenSlider .fullscreen_slideshow .animate-in .video_image_touch {
  left: 0;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modFullscreenSlider .fullscreen_slideshow .sequence-prev, .modFullscreenSlider .fullscreen_slideshow .sequence-next {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 18px;
  color: white;
  position: absolute;
  z-index: 91;
  top: 45%;
}
.modFullscreenSlider .fullscreen_slideshow .sequence-prev span, .modFullscreenSlider .fullscreen_slideshow .sequence-next span {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -10px;
  border: 10px inset;
  border-color: transparent;
}
.modFullscreenSlider .fullscreen_slideshow .sequence-prev {
  left: 0;
}
.modFullscreenSlider .fullscreen_slideshow .sequence-prev span {
  border-right-style: solid;
  left: 0;
  border-right-color: rgba(255, 255, 255, 0.7);
}
.modFullscreenSlider .fullscreen_slideshow .sequence-next {
  right: 0;
}
.modFullscreenSlider .fullscreen_slideshow .sequence-next span {
  border-left-style: solid;
  left: 50%;
  margin-left: -4px;
  border-left-color: rgba(255, 255, 255, 0.7);
}
.modFullscreenSlider .fullscreen_slideshow .sequence-pagination {
  position: absolute;
  bottom: 20px;
  text-align: center;
  z-index: 100;
  width: 100%;
  margin-left: 0;
}
.modFullscreenSlider .fullscreen_slideshow .sequence-pagination li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.modFullscreenSlider .fullscreen_slideshow .sequence-pagination li.current {
  background-color: rgba(255, 255, 255, 0.4);
}
.modFullscreenSlider .fullscreen_slideshow .frame.static {
  z-index: 3;
}
.modFullscreenSlider .fullscreen_slideshow .frame.static .bg, .modFullscreenSlider .fullscreen_slideshow .frame.static .video_wrap, .modFullscreenSlider .fullscreen_slideshow .frame.static .overlay {
  left: 0;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modFullscreenSlider .fullscreen_slideshow h1 {
  color: #fff;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
  opacity: 0;
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  top: 35%;
  position: relative;
  letter-spacing: 2px;
}
.modFullscreenSlider .fullscreen_slideshow p {
  letter-spacing: 1px;
  font-size: 22px;
  opacity: 0;
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  top: 35%;
  position: relative;
}
.modFullscreenSlider .fullscreen_slideshow .right-half {
  padding-left: 50%;
  padding-right: 200px;
}
.modFullscreenSlider .fullscreen_slideshow .left-half h1, .modFullscreenSlider .fullscreen_slideshow .left-half p, .modFullscreenSlider .fullscreen_slideshow .left-half .buttons-wrapper {
  width: 620px;
  padding-right: 500px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}
.modFullscreenSlider .fullscreen_slideshow .right-aligned .block, .modFullscreenSlider .fullscreen_slideshow .left-aligned .block {
  position: absolute;
  top: 45%;
  right: 60px;
  padding-left: 60px;
}
.modFullscreenSlider .fullscreen_slideshow .right-aligned .block h1, .modFullscreenSlider .fullscreen_slideshow .left-aligned .block h1 {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
}
.modFullscreenSlider .fullscreen_slideshow .right-aligned .block p, .modFullscreenSlider .fullscreen_slideshow .left-aligned .block p {
  font-size: 16px;
}
.modFullscreenSlider .fullscreen_slideshow .left-aligned .block {
  left: 0;
}
.modFullscreenSlider .fullscreen_slideshow .buttons-wrapper {
  opacity: 0;
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  top: 35%;
  position: relative;
}
.modFullscreenSlider .fullscreen_slideshow .buttons-wrapper .button {
  margin-right: 10px;
}
.modFullscreenSlider .fullscreen_slideshow .animate-in h1 {
  opacity: 1;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.modFullscreenSlider .fullscreen_slideshow .animate-in p {
  opacity: 1;
  -moz-transition-delay: 1.1s;
  -o-transition-delay: 1.1s;
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.modFullscreenSlider .fullscreen_slideshow .animate-in .buttons-wrapper {
  opacity: 1;
  -moz-transition-delay: 1.15s;
  -o-transition-delay: 1.15s;
  -webkit-transition-delay: 1.15s;
  transition-delay: 1.15s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.modFullscreenSlider .fullscreen_slideshow .frame.static.animate-in h1 {
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.modFullscreenSlider .fullscreen_slideshow .frame.static.animate-in p {
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.modFullscreenSlider .fullscreen_slideshow .frame.static.animate-in .buttons-wrapper {
  -moz-transition-delay: 0.45s;
  -o-transition-delay: 0.45s;
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.modFullscreenSlider .fullscreen_slideshow .animate-out h1, .modFullscreenSlider .fullscreen_slideshow .animate-out p, .modFullscreenSlider .fullscreen_slideshow .animate-out .buttons-wrapper {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.modGallery .gallery-nav {
  margin: 0 auto 30px;
  text-align: center;
}
.modGallery .gallery-nav li {
  float: none;
  display: inline-block;
  border: 1px solid #bbb;
  padding: 5px 10px;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.modGallery .gallery-nav li a {
  color: #999;
}
.modGallery .gallery-nav li.current {
  border: 1px solid #EF5350;
}
.modGallery .gallery-nav li.current a {
  color: #EF5350;
}
.modGallery ul.gallery img {
  width: 100%;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.modGallery ul.gallery li {
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.modGallery ul.gallery li a {
  position: relative;
  display: block;
  overflow: hidden;
}
.modGallery ul.gallery li a .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  text-align: center;
  background: rgba(34, 34, 34, 0.8);
  width: 100%;
  height: 100%;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.modGallery ul.gallery li a .overlay .thumb-info {
  top: 55%;
  position: relative;
  opacity: 0;
}
.modGallery ul.gallery li a h3 {
  color: #fff;
  margin-bottom: 10px;
}
.modGallery ul.gallery li a p {
  color: #fff;
  font-size: 0.875rem;
}
.modGallery ul.gallery li a:hover .overlay {
  opacity: 1;
}
.modGallery ul.gallery li a:hover .overlay .thumb-info {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  position: relative;
  top: 50%;
  margin-top: -26px;
  opacity: 1;
}
.modGallery ul.gallery li a:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modGallery ul.gallery li.hidden {
  opacity: 0.1;
}
.modGallery ul.gallery.seperated li {
  padding: 10px;
}
.modIconText .icon-text-circle {
  text-align: center;
}
.modIconText .icon-text-circle i {
  box-sizing: content-box;
  margin-bottom: 2.5rem;
  font-size: 3.42857rem;
  width: 3.42857rem;
  height: 3.42857rem;
  color: #333;
  border: 3px solid #eee;
  display: inline-block;
  padding: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: none;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.modIconText .icon-text-circle i:before {
  margin: 0;
}
.modIconText .icon-text-circle:hover i {
  color: #EF5350;
}
.modIconText .icon-text-simple i {
  font-size: 3.42857rem;
  float: left;
  color: #e0e0e0;
  width: 48px;
  height: 48px;
  text-align: center;
}
.modIconText .icon-text-simple h3, .modIconText .icon-text-simple p {
  margin-left: 73px;
}
body {
  overflow-y: scroll;
}

.modMasonryGallery .gallery-nav {
  margin: 0 auto 30px;
  text-align: center;
}
.modMasonryGallery .gallery-nav li {
  float: none;
  display: inline-block;
  border: 1px solid #bbb;
  padding: 5px 10px;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.modMasonryGallery .gallery-nav li a {
  color: #999;
}
.modMasonryGallery .gallery-nav li.current {
  border: 1px solid #EF5350;
}
.modMasonryGallery .gallery-nav li.current a {
  color: #EF5350;
}
.modMasonryGallery ul.gallery {
  margin: 0;
}
.modMasonryGallery ul.gallery li {
  display: block;
  width: 25%;
}
.modMasonryGallery ul.gallery li.wide {
  width: 50%;
}
.modMasonryGallery ul.gallery img {
  width: 100%;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.modMasonryGallery ul.gallery li a {
  position: relative;
  display: block;
  overflow: hidden;
}
.modMasonryGallery ul.gallery li a .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  text-align: center;
  background: rgba(34, 34, 34, 0.8);
  width: 100%;
  height: 100%;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.modMasonryGallery ul.gallery li a .overlay .thumb-info {
  top: 55%;
  position: relative;
  opacity: 0;
}
.modMasonryGallery ul.gallery li a h3 {
  color: #fff;
  margin-bottom: 10px;
}
.modMasonryGallery ul.gallery li a p {
  color: #fff;
  font-size: 0.875rem;
}
.modMasonryGallery ul.gallery li a:hover {
  overflow: hidden;
}
.modMasonryGallery ul.gallery li a:hover .overlay {
  overflow: hidden;
  opacity: 1;
}
.modMasonryGallery ul.gallery li a:hover .overlay .thumb-info {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  position: relative;
  top: 50%;
  margin-top: -26px;
  opacity: 1;
}
.modMasonryGallery ul.gallery li a:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  margin-bottom: 0;
}
.modMasonryGallery ul.gallery li.hidden {
  opacity: 0.1;
}
.modMilestone {
  text-align: center;
}
.modMilestone i {
  font-size: 36px;
  color: #333;
  background: #EF5350;
  width: 90px;
  height: 90px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  text-align: center;
  padding: 27px;
  display: inline-block;
  margin-bottom: 45px;
}
.modMilestone strong {
  font-size: 3.42857rem;
  display: block;
  margin-bottom: 30px;
}
.modMilestone span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.modMilestone.no-icon {
  padding: 30px 0 10px;
}
.modMilestone.no-icon strong {
  font-size: 4.28571rem;
}
.modPriceBox {
  border: 1px solid #e0e0e0;
  padding: 0 15px 15px;
  margin: 0 0 60px;
  background-color: #fff;
  text-align: center;
}
.modPriceBox ul {
  margin-left: 0;
  list-style: none;
}
.modPriceBox .info {
  border-top: 4px solid #bbb;
  padding: 20px 0 0;
}
.modPriceBox li {
  background: #eee;
  color: #999;
}
.modPriceBox li.even {
  background: #f7f7f7;
}
.modPriceBox p.level {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 5px;
}
.modPriceBox p.desc {
  font-size: 14px;
  margin-bottom: 20px;
  color: #999;
}
.modPriceBox p.price {
  font-size: 16px;
  color: #666;
  font-style: italic;
  border-bottom: 1px solid #d0d0d0;
  margin: 0;
  padding-bottom: 10px;
}
.modPriceBox p.price .dollar {
  font-size: 30px;
  color: #333;
  font-style: normal;
  position: relative;
  top: -30px;
}
.modPriceBox p.price .number {
  font-size: 70px;
  color: #333;
  font-style: normal;
}
.modPriceBox .features {
  margin: 0 0 30px;
}
.modPriceBox .features li {
  padding: 5px 0;
}
.modPriceBox p.start {
  margin: 0;
}

.modPriceBox.featured .info {
  border-top: 4px solid #EF5350;
}

.modPriceBox:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.modSectionHeader .special-title h2 {
  text-transform: uppercase;
  display: inline-block;
}
.modSectionHeader .special-title h2::after {
  content: "";
  width: 66%;
  margin: 0 auto;
  height: 2px;
  background: #E53935;
  display: block;
}

.modSectionHeader.big h2 {
  font-size: 4rem;
}
.modSectionHeader.big h3 {
  font-weight: normal;
  letter-spacing: 3px;
}

.modSectionHeader.alt h2 {
  font-size: 1.5rem;
  letter-spacing: 4px;
}
.modSectionHeader.alt h2::after {
  content: "";
  width: 50px;
  margin: 8px auto 20px;
  height: 3px;
  background: currentColor;
  display: block;
}
.modTeamMember .member {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.modTeamMember ul {
  margin: 0;
}
.modTeamMember ul li {
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}
.modTeamMember ul i {
  width: 36px;
  height: 36px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #D50000;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  line-height: 2.5rem;
}
.modTeamMember img {
  position: relative;
  /*top: -150px;*/
  width: 100%;
}
.modTeamMember .overlay {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
}
.modTeamMember .overlay .intro {
  position: relative;
  top: 50%;
  margin-top: -60px;
}
.modTeamMember .overlay h3 {
  margin-bottom: 10px;
}
.modTeamMember .overlay p {
  font-style: italic;
  margin-bottom: 30px;
}
.modTeamMember .member:hover .overlay {
  opacity: 1;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  top: 0;
}

.modTeamMember.style-2 h3 {
  margin-bottom: 0;
}
.modTeamMember.style-2 p.position {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8rem;
}
.modTeamMember.style-2 .overlay {
  background-color: rgba(255, 255, 255, 0.7);
}
.modTeamMember.style-2 .overlay ul.socials {
  position: relative;
  top: 50%;
  margin-top: -18px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "DroidSans";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "DroidSans";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.modTestimonials {
  padding: 0 60px;
}
.modTestimonials p.quote {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.modTestimonials p.author {
  font-style: italic;
}
.modTestimonials .slick-dots li button:before {
  font-size: 30px;
  top: -40px;
}

.modTestimonials.simple {
  padding: 0;
}
.modTestimonials.simple .author .author-avatar {
  float: left;
  margin-right: 15px;
}
.modTestimonials.simple .author .author-name {
  padding-top: 30px;
}
.modTestimonials.simple .author .author-name strong {
  color: #333;
}
.modTestimonials.simple .slick-slider {
  margin-bottom: 10px;
}
@media only screen and (max-width: 60em) {
  .modTeamMember .overlay {
    opacity: 1;
    background-color: transparent;
    top: 0;
  }
  .modTeamMember .overlay .intro {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 90%;
  }
  .modTeamMember .overlay h3 {
      margin-bottom: 3px;
      display: none;
  }
  .modTeamMember .overlay p {

  }
  .modTeamMember ul i {
    width: 24px;
    height: 24px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .modTeamMember.style-2 .overlay {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .modTeamMember.style-2 .overlay ul.socials {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -18px;
  }

  .parallax {
    background-attachment: scroll;
  }

  .contain-to-grid {
    height: auto;
  }
  .contain-to-grid .top-bar-section li:not(.has-form) a:not(.button) {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
  }
  .contain-to-grid .top-bar-section .has-dropdown > a:after {
    top: 50%;
  }

  .contain-to-grid.alt .top-bar-section ul li > a {
    color: #999;
  }
  .contain-to-grid.alt .top-bar-section .has-dropdown > a:after {
    border-top-color: transparent;
  }

  .contain-to-grid.transparent {
    height: 100px;
    overflow: visible;
    position: relative;
  }
  .contain-to-grid.transparent .top-bar-section ul li {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .contain-to-grid.transparent .top-bar-section li:not(.has-form) a:not(.button) {
    color: #999;
    background: transparent;
  }
  .contain-to-grid.transparent .top-bar-section .has-dropdown > a:after {
    border-top-color: transparent;
  }
  .contain-to-grid.transparent .top-bar-section ul li.has-dropdown .dropdown li {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .contain-to-grid.transparent .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .contain-to-grid.transparent.white .top-bar-section li:not(.has-form) a:not(.button) {
    color: #fff;
  }
  .contain-to-grid.transparent.white .top-bar-section .has-dropdown > a:after {
    border-top-color: transparent;
  }
  .contain-to-grid.transparent.white .top-bar-section ul li.has-dropdown .dropdown li {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .contain-to-grid.transparent.white .top-bar-section ul li.has-dropdown .dropdown li a {
    color: #fff;
  }
  .contain-to-grid.transparent.white .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .contain-to-grid.transparent.white .top-bar-section .dropdown li:not(.has-form) a:not(.button):hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .contain-to-grid.transparent.white .top-bar .toggle-topbar.menu-icon a {
    color: #fff;
  }

  .contain-to-grid.transparent .top-bar.expanded .title-area {
    background: transparent;
  }

  .modMasonryGallery ul.gallery li {
    width: 50%;
  }
  .modMasonryGallery ul.gallery li.wide {
    width: 100%;
  }

  /*The logo will not change to small size when in tablets, because the shrink effect will not work */
  .f-topbar-fixed.shrink .top-bar .title-area a {
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  .modDefaultSlider .sequence .title h2 {
    font-size: 3.85714rem;
    line-height: 3.85714rem;
  }
  .modDefaultSlider .sequence .small-title h2 {
    font-size: 1.14286rem;
  }

  .modDefaultSlider.advanced .sequence .title h2 {
    letter-spacing: 4px;
    font-size: 3.42857rem;
  }

  .modSectionHeader.big h2 {
    font-size: 3rem;
  }

  .modFullscreenSlider .fullscreen_slideshow h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .modFullscreenSlider .fullscreen_slideshow p {
    font-size: 18px;
  }

  .modBoxedSlider .caption {
    bottom: 20px;
    left: 20px;
  }
  .modBoxedSlider .caption p {
    font-size: 1rem;
  }
  .modBoxedSlider .caption h2 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 480px) {
  .modDefaultSlider .sequence .title h2 {
    font-size: 3.14286rem;
    line-height: 3.14286rem;
  }
  .modDefaultSlider .sequence .small-title h2 {
    font-size: 1rem;
  }

  .modDefaultSlider.advanced .sequence .title h2 {
    letter-spacing: 4px;
    font-size: 2.57143rem;
  }
  .modDefaultSlider.advanced .sequence p {
    font-size: 1.14286rem;
  }

  .modBoxedSlider .caption {
    bottom: 10px;
    left: 10px;
  }
  .modBoxedSlider .caption p {
    font-size: 0.9rem;
  }
  .modBoxedSlider .caption h2 {
    font-size: 1.1rem;
  }

  .modFullscreenSlider .fullscreen_slideshow .right-aligned .block h1, .modFullscreenSlider .fullscreen_slideshow .left-aligned .block h1 {
    margin-bottom: 10px;
  }

  .modFullscreenSlider .fullscreen_slideshow h1 {
    top: 20%;
    font-size: 2rem;
    line-height: 2rem;
  }
  .modFullscreenSlider .fullscreen_slideshow p {
    top: 20%;
    font-size: 14px;
  }
  .modFullscreenSlider .fullscreen_slideshow .buttons-wrapper {
    top: 10%;
  }
  .modFullscreenSlider .fullscreen_slideshow .buttons-wrapper a.button {
    width: 45%;
    font-size: 10px;
  }

  .modSectionHeader.big h2 {
    font-size: 2rem;
  }

  .modFullscreenSlider .fullscreen_slideshow .video_image_touch {
    display: block;
  }
  .modFullscreenSlider .fullscreen_slideshow .video_wrap {
    display: none;
  }
}

.title-img {
    display:block;
    margin:auto;
}

table{
  border: none;
}

td.description {
  width: 70%;
}

#twitter {
    margin-left:25%;
    width: 50%;
}

@media only screen and (max-width: 60em) {
    #twitter {
        margin-left: 10%;
        width: 80%;
    }
}