---
layout: default
title: Cells and Drugs
category: project
listImage: "/images/projects/cells_and_drugs/drawing.svg"
description: Cardiac function is governed by physiological mechanisms acting on length scales ranging from the subcellular level to the overall heart anatomy. Alterations to these mechanisms from normal physiological behaviour, can lead to the development of pathological conditions including heart failure. Computational modeling provides a framework for integrating experimental and clinical measurements, and serves as a “virtual laboratory” for investigating the interdependence of the different mechanisms contributing to heart disease. Through collaborations with clinical and pharmaceutical partners, we seek to improve our understanding of the mechanisms underlying heart failure. We model the impact of chemotherapeutic drugs on the molecular-level behaviour of cardiac muscle to investigate their repercussion on ATP production in mitochondria and on muscle contraction at the whole-heart level.
path: projects/CellsAndDrugs
---

{% if jekyll.environment == "gitlab" %}
{% assign baseurl = "/cemrg" %}
{% else %}
{% assign baseurl = site.baseurl %}
{% endif %}

{% assign cesare = "Cesare Corrado" | url_encode %}
{% assign marina_m = "Marina Riabiz" | url_encode %}
{% assign gabriel = "Gabriel Balaban" | url_encode %}
{% assign caroline_c = "Caroline Costa" | url_encode %}
{% assign caroline_r = "Caroline Roney" | url_encode %}
{% assign fernando = "Fernando Campos" | url_encode %}

<div class='full'>
  <div class="row">
    <div class='large-12 columns'>
      <h2> {{page.title}}</h2>
      <p>
        Cardiac function is governed by physiological mechanisms acting on length scales ranging from the subcellular level to the overall heart anatomy. Alterations to these mechanisms from normal physiological behaviour, can lead to the development of pathological conditions including heart failure. Computational modeling provides a framework for integrating experimental and clinical measurements, and serves as a “virtual laboratory” for investigating the interdependence of the different mechanisms contributing to heart disease. Through collaborations with clinical and pharmaceutical partners, we seek to improve our understanding of the mechanisms underlying heart failure. We model the impact of chemotherapeutic drugs on the molecular-level behaviour of cardiac muscle to investigate their repercussion on ATP production in mitochondria and on muscle contraction at the whole-heart level.
      </p>
      <img src={{page.listImage | prepend: baseurl}}>
    </div>
  </div>
</div>
