---
layout: default
title: Image Analysis
category: project
listImage: "/images/projects/image_processing/ImageAnalysis_small.png"
description: We develop a range of image processing and vision algorithms for analysing medical images. Our current projects include the use of convolutional neural networks for multi-label segmentation of cardiac CT and MRI images. We also adopt new machine learning tools to register cardiac scans from different imaging modalities.
path: projects/ImageProcessing
---

{% if jekyll.environment == "gitlab" %}
{% assign baseurl = "/cemrg" %}
{% else %}
{% assign baseurl = site.baseurl %}
{% endif %}

{% assign cesare = "Cesare Corrado" | url_encode %}
{% assign marina_m = "Marina Riabiz" | url_encode %}
{% assign gabriel = "Gabriel Balaban" | url_encode %}
{% assign caroline_c = "Caroline Costa" | url_encode %}
{% assign caroline_r = "Caroline Roney" | url_encode %}
{% assign fernando = "Fernando Campos" | url_encode %}

<div class='full'>
  <div class="row">
    <div class='large-12 columns'>
      <h2> {{page.title}}</h2>
      <p>
        We develop a range of image processing and vision algorithms for analysing medical images. Our current projects include the use of convolutional neural networks for multi-label segmentation of cardiac CT and MRI images. We also adopt new machine learning tools to register cardiac scans from different imaging modalities.
      </p>

      <h3> Medical Image Segmentation</h3>
      <p>
        We have been developing a multi-label UNET framework to segment Contrast Enhanced MRA images of left atria into blood pool, mitral valve and pulmonary veins. The automatic segmentation coupled with image processing algorithms developed for cropping veins build the base for a reproducible platform for quantifying fibrosis from Late Gadolinium Enhanced images.
      </p>
      <h3> Medical Image Registration </h3>
      <p>
        Most registration algorithms focus on optimising an image intensity-based similarity metric or some form of features extracted from the images. Recently, there has been an interest in developing deep learning algorithms for nonlinear registration of medical images. We have been developing a UNET like architecture as an alternative approach to traditional Free Form Deformation techniques, which can learn from our datasets and provide a fast registration in a fully automatic setting.
      </p>
      <p>
        <img class="title-img" src={{"/images/projects/image_processing/ImageAnalysis_large.png" | prepend: baseurl}} />
      </p>
    </div>
  </div>
</div>
