---
layout: default
section_id: home
slides:
  - bg: images/projects/heart_failure/HF2.png
    title:
      klass: bottom-to-top
      text: Heart Failure
    link_to: "projects/HeartFailure"

  - bg: images/projects/arrhythmia/Vm_EPI00061.png
    title:
      klass: bottom-to-top
      text: Arrhythmia
    link_to: "projects/Arrhythmia"

  - bg: images/projects/image_processing/veins.png
    title:
      klass: bottom-to-top
      text: CemrgApp
    link_to: "software/cemrg"
---

{% if jekyll.environment == "gitlab" %} {% assign baseurl = "/cemrg" %} {% else
%} {% assign baseurl = site.baseurl %} {% endif %}

<div class="mod modDefaultSlider">
  <div class="sequence" data-autostop="on" data-timeout="0">
    <a class="sequence-prev" href="javascript:void(0);"> <span></span> </a>
    <a class="sequence-next" href="javascript:void(0);"> <span></span> </a>
    <ul class="sequence-pagination">
      {% for slide in page.slides %} {% if forloop.first %} {% assign class =
      'current' %} {% else %} {% assign class = '' %} {% endif %}
      <li class="{{class}}" >

      </li>
      {% endfor %}
    </ul>
    <ul class="sequence-canvas">
      {% for slide in page.slides %} {% if forloop.first %} {% assign style =
      'static' %} {% else %} {% assign style = '' %} {% endif %}

      <li
        class="frame {{style}} {{ slide.klass }} clickable-slide"
        data-href="{{ slide.link_to | prepend: '/' | prepend: baseurl}}"
      >
        <div
          class="bg"
          style="background-image: url({{ slide.bg}}); background-size: 30%;background-repeat: no-repeat; background-color: white"
        ></div>
        <div class="small-title {{ slide.small_title.klass }}">
          <div class="row">
            <div class="large-12 columns">
              <h1>{{ slide.small_title.text }}</h1>
            </div>
          </div>
        </div>
        <div class="title {{ slide.title.klass }}">
          <div class="row">
            <div class="large-12 columns"><h1>{{ slide.title.text }}</h1></div>
          </div>
        </div>
        <div class="buttons-wrapper {{ slide.buttons.klass }}">
          <div class="row">
            <div class="large-12 columns">
              <div class="two spacing"></div>
              {% for button in slide.buttons.items %}
              <a class="button {{ button.klass }}" href="{{ button.link_to }}"
                >{{ button.text }}</a
              >
              {% endfor %}
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="spacing"></div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Background" %}
      <div class="spacing"></div>
      <p>
        The <b>Cardiac Electro-Mechanics Research Group</b> (CEMRG) at Imperial College London and King's
        College London applies statistical, machine learning and simulation
        approaches to combine experimental and clinical data with physics and
        biology to study the physiology, pathology, diagnosis and treatment of
        the heart.
      </p>
      <p>
        The group is inherently interdisciplinary working with mathematicians,
        modellers, image analysts, statisticians, experimental researchers and
        clinicians. The research focuses on four themes: cells and drugs,
        arrhythmias, heart failure and image analysis. These complementary
        research areas build on common software platforms that facilitate
        collaborative work between disciplines.
      </p>
      <p>
        CEMRG researchers are based at two campuses. Part of the group (including Steve Niederer) is based at the Imperial Centre for Translational and Experimental Medicine (ICTEM), next door to Hammersmith Hospital.
        Part of the group (including Martin Bishop) is within St Thomas’ Hospital in central
        London, around a core research MRI and catheter laboratory facility. The
        group is co-located with clinical cardiology researchers. The
        combination of technical and clinical expertise makes the group ideally
        situated to pursue translational research.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div id="twitter">
        <a
          class="twitter-timeline"
          data-width="100%"
          data-height="1000"
          data-theme="light"
          data-link-color="#E81C4F"
          href="https://twitter.com/CEMRG_"
          >Tweets by CEMRG_</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>
  </div>
</div>

<div class="full no-padding" style="background: #fff"></div>

<script>
  jQuery(document).ready(function($) {
    $(".clickable-slide").click(function() {
      window.location = $(this).data("href");
    });
  });
</script>
