---
layout: default
section_id: publications
---

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% assign reverse_publications = site.data.publications %} {% for publication in
      reverse_publications %}
      <p><a href={{publication.author_id | url_encode | prepend: "/people/team#" | prepend: baseurl}}>{{ publication.first_author }}</a>,
      {{ publication.authors }}
      <a href="{{publication.url}}"><b>{{ publication.title }}</b></a>
      <i>{{ publication.journal }}</i>
      ({{publication.year }})</p>
      {% endfor %}
    </div>
  </div>
</div>
