---
layout: default
category: software
title: CemrgApp
listImage: "/images/projects/image_processing/SW_CemrgApp.png"
description: CemrgApp is a platform with custom image processing and computer vision toolkits for applying statistical, machine learning, and simulation approaches to cardiovascular data.
path: software/cemrgapp
---

{% if jekyll.environment == "gitlab" %} {% assign baseurl = "/cemrg" %} {% else
%} {% assign baseurl = site.baseurl %} {% endif %}
<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <h2>{{page.title}}</h2>
      <p>
        You will now be redirected to the CemrgApp homepage. If you do not get redirected please click the link below:
      </p>

      <p>
        <a href="http://cemrgapp.com/"> http://cemrgapp.com/ </a>
      </p>
    </div>
  </div>
</div>

<script>
 window.location.href = "http://cemrgapp.com/"
</script>
