---
layout: default
category: software
title: CemrgApp
listImage: "/images/projects/image_processing/SW_CemrgApp.png"
description: CemrgApp is a platform with custom image processing and computer vision toolkits for applying statistical, machine learning, and simulation approaches to cardiovascular data.
path: software/cemrgapp
---

{% if jekyll.environment == "gitlab" %} {% assign baseurl = "/cemrg" %} {% else
%} {% assign baseurl = site.baseurl %} {% endif %}

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <h2>{{page.title}}</h2>
      <p>
        <span style="color:#696969;"
          >The Cardiac Electro-Mechanics Research Group Application (CemrgApp)
          is a platform&nbsp;with custom image processing and computer vision
          toolkits for applying statistical, machine learning, and simulation
          approaches to cardiovascular data. CemrgApp provides an integrated
          environment, where cardiac data visualisation and workflow prototyping
          are presented through a common user friendly graphical interface.
          CemrgApp at present supports:</span
        >
      </p>

      <ul>
        <li><span style="color:#696969;">Motion Quantification</span></li>
        <li><span style="color:#696969;">Anatomical Measurements</span></li>
        <li>
          <span style="color:#696969;">Scar Quantification (</span><a href="/software/CemrgApp-AtrialScarProcessing.pdf" target="_blank">user&nbsp;documentation,&nbsp;</a><a href="/software/scar-video1.mp4" download>video&nbsp;manual&nbsp;1,&nbsp;</a><a href="/software/scar-video2.mp4" download>video&nbsp;manual&nbsp;2</a><span style="color:#696969;">)</span>
        </li>
        <li><span style="color:#696969;">Morphological Measurements</span></li>
        <li>
          <span style="color:#696969;">Electrophysiology Simulations</span>
        </li>
      </ul>

      <p>
        <span style="color:#696969;">Please cite the following article, if you use CemrgApp in your project:</span>
      </p>
      <ul>
        <li>
          <span style="color:#696969;">Razeghi O, Solís-Lemus J, Lee A et al. CemrgApp: An interactive medical imaging application with image processing, computer vision, and machine learning toolkits for cardiovascular research. SoftwareX. 2020;12:100570. doi:10.1016/j.softx.2020.100570</span>
        </li>
      </ul>

      <p>
        <span style="color:#696969;">The source code can be accessed from:</span>
      </p>
      <ul>
        <li>
          <a
            href="https://github.com/CemrgAppDevelopers/CemrgApp"
            target="_blank"
            >Github Repository</a>
        </li>
      </ul>

      <p>
        <span style="color:#696969;">The executable binaries for CemrgApp can be downloaded from:</span>
      </p>
      <ul>
        <li>
          <a
            href="https://github.com/CemrgAppDevelopers/CemrgApp/releases"
            target="_blank"
            >Github Repository Releases</a>
        </li>
      </ul>

      <p>
        <span style="color:#696969;"
          >The software documentation and useful instructions&nbsp;code can be
          accessed from the repository wiki pages:</span>
      </p>
      <ul>
        <li>
          <a
            href="https://github.com/CemrgAppDevelopers/CemrgApp/wiki"
            target="_blank"
            >Github Repository&nbsp;Wiki</a>
        </li>
      </ul>

      <p>
        <span style="color:#696969;"
          >The set of optimal parameters for registration of cardiac CT and MRI
          scans can be found from:</span>
      </p>
      <ul>
        <li>
          <span style="color:#696969;"
            ><a href="/software/Rigid_MRI.cfg" target="_blank"
              >Rigid Registration (MRI)</a
            ></span
          >
        </li>
        <li>
          <span style="color:#696969;"
            ><a href="/software/Nonrigid_CT.cfg" target="_blank"
              >Non-rigid Registration (CT)</a
            ></span
          >
        </li>
      </ul>

      <p>
        <img
          alt=""
          src="/images/projects/image_processing/cemrgapp2.png"
          style="width: 77%; border-width: 4px; border-style: solid; margin-left: auto; margin-right: auto; display: block;"
        />
      </p>
      <p>
        <img
          alt=""
          src="/images/projects/image_processing/cemrgapp1.png"
          style="width: 77%; border-width: 4px; border-style: solid; margin-left: auto; margin-right: auto; display: block;"
        />
      </p>

    </div>
  </div>
</div>
