---
layout: default
category: software
title: OpenEP
listImage: "/images/projects/image_processing/openep.png"
description: OpenEP is the eopen source solution for electrophysiology data analysis. It is a free and feature-full implementation of data parsing and analysis tools for electrophysiology research.
path: software/openep
---

{% if jekyll.environment == "gitlab" %} {% assign baseurl = "/cemrg" %} {% else
%} {% assign baseurl = site.baseurl %} {% endif %}

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <h2>{{page.title}}</h2>
      <p>
        You will now be redirected to the OpenEP homepage. If you do not get redirected please click the link below:
      </p>

      <p>
        <a href="https://openep.io/"> https://openep.io/ </a>
      </p>
    </div>
  </div>
</div>

<script>
 window.location.href = "https://openep.io/"
</script>
