---
layout: default
title: Interested in joining the lab?
---
<div class="full">
    <div class="row">
      <div class="large-12 columns">
        {% include section-header.html title="Interested in joining the lab?" %}
    <p><b>
        CEMRG is always looking for new staff and PhD students. Please contact 
        <a href="mailto:s.niederer@imperial.ac.uk"> s.niederer@imperial.ac.uk 
        </a> if interested.
    </p>
    <p><b>
        You can also find us on Twitter, where we post regularly about new 
        available positions. Ask us about them!
    </p>
      </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div id="twitter">
            <a
            class="twitter-timeline"
            data-width="100%"
            data-height="1000"
            data-theme="light"
            data-link-color="#E81C4F"
            href="https://twitter.com/CEMRG_?ref_src=twsrc%5Etfw"
            >Tweets by CEMRG_</a
            >
            <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
            ></script>
        </div>
    </div>
</div>