<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        {{ site.title }}
      </h1>
      <p><a href="/internal" | prepend: baseurl}}>Internal resources</a></p>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-6 medium-6 columns'>
      <div class='spacing'></div>
      <h4>Find us</h4>
      <ul>
        <li>
          Prof Steven Niederer
        </li>
        <li>
          Cardiac Electro Mechanics Research Group
        </li>
        <li>
          National Heart & Lung Institute
        </li>
        <li>
          3rd Floor, ICTEM building
        </li>
        <li>
          Imperial College
        </li>
        <li>
          London W12 0NN
        </li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href="mailto:s.niederer@imperial.ac.uk">
            <i class='fa fa-envelope'></i>
          </a>
          <a href="https://twitter.com/{{site.twitter_username}}">
            <i class='fa fa-twitter'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
{% if jekyll.environment == "gitlab" %}
  {% assign baseurl = "/cemrg" %}
{% else %}
  {% assign baseurl = site.baseurl %}
{% endif %}
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: baseurl }}" type="text/javascript"></script>
