<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-107296253-3', 'auto');
   ga('send', 'pageview');

  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> -->
  <title> CEMRG | Cardiac Electro-Mechanics Research Group</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% if jekyll.environment == "gitlab" %}
    {% assign baseurl = "/cemrg" %}
  {% else %}
    {% assign baseurl = site.baseurl %}
  {% endif %}

  <link rel="shortcut icon" type="image/x-icon" href={{"/favicon.ico?" | prepend: baseurl}}>
  <link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css?version=2" | prepend: baseurl }}">
  <link rel="stylesheet" href="{{ "/css/fontello.css" | prepend: baseurl }}">
  <link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: baseurl }}">
  <script src="{{ "/javascripts/libs.js" | prepend: baseurl }}" type="text/javascript"></script>
  <script>
   // terrificjs bootstrap
   (function($) {
     $(document).ready(function() {
       var $page = $('body');
       var config = {
         dependencyPath: {
           plugin: 'javascripts/'
         }
       }
       var application = new Tc.Application($page, config);
       application.registerModules();
       application.start();
     });
   })(Tc.$);
  </script>
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,300" media="screen" rel="stylesheet" type="text/css" />
  <script src="{{ "/javascripts/masonry.pkgd.js" | prepend: baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/imagesloaded.pkgd.min.js" | prepend: baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/slick.min.js" | prepend: baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/json2.js" | prepend: baseurl }}" type="text/javascript"></script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: baseurl | prepend: site.url }}" />
</head>
