<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div id="main" role="main">
      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
